In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./OnlineRetail.csv',low_memory=False)

In [3]:
data.describe(include='all')

,InvoiceNo,StockCode,Quantity,InvoiceDate,UnitPrice,Country
count,530104,530104,530104.000000,530104,530104.000000,530104
unique,19960,3922,NaN,18499,NaN,38
top,573585,85123A,NaN,10/31/11 14:41,NaN,United Kingdom
freq,1114,2265,NaN,1114,NaN,485123
mean,NaN,NaN,10.542037,NaN,3.907625,NaN
std,NaN,NaN,155.524124,NaN,35.915681,NaN
min,NaN,NaN,1.000000,NaN,0.001000,NaN
25%,NaN,NaN,1.000000,NaN,1.250000,NaN
50%,NaN,NaN,3.000000,NaN,2.080000,NaN
75%,NaN,NaN,10.000000,NaN,4.130000,NaN
max,NaN,NaN,80995.000000,NaN,13541.330000,NaN

In [4]:
countries = data['Country'].unique()

In [5]:
for i in countries:
    print('\n\n'+i+': \n')
    print(data[['Country', 'StockCode', 'UnitPrice']][data['Country'] == i]\
    .groupby(['Country', 'StockCode'],as_index=False).sum()\
    .sort_values(by=['UnitPrice'],ascending=False)[['StockCode', 'UnitPrice']][:5].to_string(index=False))

United Kingdom:

 StockCode  UnitPrice
       DOT  206248.77
         M   31577.96
     22423   24406.81
 AMAZONFEE   13761.09
         B   11062.06


France:

StockCode  UnitPrice
        M    9477.37
     POST    5861.00
    22423     612.15
    20750     426.10
    23007     257.20


Australia:

StockCode  UnitPrice
     POST     350.00
    22423      67.50
    48138      51.15
    22720      41.05
    21843      40.80


Netherlands:

StockCode  UnitPrice
     POST     561.00
    22826     170.00
    22823     110.00
    22848     104.65
    22423     100.35


Germany:

StockCode  UnitPrice
     POST    7681.00
        M    2296.25
    22423     765.45
    22326     332.55
    20750     236.90


Norway:

StockCode  UnitPrice
     POST    1390.50
        M     840.30
    22423     127.50
    22847      80.75
    22635      75.25


EIRE:

StockCode  UnitPrice
        M    7049.66
       C2    5240.00
    22423     885.60
    22846     331.00
    22847     321.00


Switzerland:

StockCode  UnitPrice
     POST    1201.00
    22423     149.40
    20750      84.25
    23007      80.75
    20685      70.95


Spain:

StockCode  UnitPrice
     POST     1736.0
    22423      273.3
    21340      110.7
    22847      101.7
    21843       87.6


Poland:

StockCode  UnitPrice
     POST     200.00
    22624      42.50
   84078A      39.95
    22061      39.80
    22690      32.10


Portugal:

StockCode  UnitPrice
        M    4222.69
     POST     802.00
    22139      68.60
    22423      61.95
    22504      59.90


Italy:

StockCode  UnitPrice
     POST     805.00
    22847      95.70
    22423      63.75
    22848      50.85
    48138      48.90


Belgium:

StockCode  UnitPrice
     POST    1485.00
    22423     191.25
    22846     125.60
    23008     118.65
    23007     118.65


Lithuania:

StockCode  UnitPrice
    20967       7.50
    22751       7.50
    22750       7.50
    22569       7.50
  15056BL       5.95


Japan:

StockCode  UnitPrice
    21217      26.85
    20750      19.05
    21216      17.00
    22654      16.85
    21218      16.25


Iceland:

StockCode  UnitPrice
    22423      51.00
    22375      25.50
    23173      19.90
    22727      18.75
    22371      16.70


Channel Islands:

StockCode  UnitPrice
        M     293.00
       C2     150.00
    22423      61.95
    22690      55.95
    21843      42.80


Denmark:

StockCode  UnitPrice
     POST     228.00
    22847      31.90
    22728      18.39
    23256      16.60
    20750      15.90


Cyprus:

StockCode  UnitPrice
        M     320.69
    22827     290.00
    22656     250.00
    22655     250.00
    22423     102.00


Sweden:

StockCode  UnitPrice
     POST     811.00
    22720      34.65
        M      30.00
    22139      19.80
    22779      17.00


Finland:

StockCode  UnitPrice
     POST    1436.00
        M     275.60
    22221      49.75
    20750      39.75
   84997D      38.34


Austria:

StockCode  UnitPrice
     POST     548.00
    23008      48.85
    22846      48.85
    22847      33.90
    22423      25.50


Bahrain:

StockCode  UnitPrice
    22890      19.90
    22423      12.75
    37449       9.95
   72802B       8.06
    22649       4.95


Israel:

StockCode  UnitPrice
    22823     125.00
    22929      65.00
    22824      35.95
    22423      34.65
    23240      20.35


Greece:

StockCode  UnitPrice
     POST     145.00
    22803      39.95
    22847      14.95
    22762      12.75
    22424      10.95


Hong Kong:

StockCode  UnitPrice
        M    5563.81
     POST     175.00
    22504      42.70
    21843      32.85
    20749      30.20


Singapore:

StockCode  UnitPrice
        M   12158.90
    22655     125.00
    22929      65.00
    20685      20.58
    48138      20.58


Lebanon:

StockCode  UnitPrice
    22846      14.95
    21781      14.95
    22423      12.75
    85066      12.75
    22606      12.75


United Arab Emirates:

StockCode  UnitPrice
     POST      37.50
    23009      14.95
    23008      14.95
    23007      14.95
    22423      12.75


Saudi Arabia:

StockCode  UnitPrice
    20781       5.49
    22361       2.95
    22362       2.95
    22363       2.95
    22553       1.65


Czech Republic:

StockCode  UnitPrice
     POST      40.00
    22505       4.95
    21428       4.25
    22326       2.95
    21253       2.95


Canada:

StockCode  UnitPrice
     POST     550.94
   85163B      12.75
    22423      12.75
    22635       9.95
    22634       9.95


Unspecified:

StockCode  UnitPrice
    23007      33.90
    22423      25.50
    22485      25.50
    23108      18.75
    23079      17.90


Brazil:

StockCode  UnitPrice
    22423      10.95
    23050       8.25
    23051       8.25
    23052       8.25
    23053       8.25


USA:

StockCode  UnitPrice
    22423      25.50
    22848      16.95
   47590B      10.90
    23173       9.95
    22720       9.90


European Community:

StockCode  UnitPrice
     POST      48.00
    22840      15.90
    22841      15.90
    22839      14.95
    22838      14.95


Malta:

StockCode  UnitPrice
     POST      145.0
    37449       19.9
    22768       19.9
    22767       19.9
    22796       19.9


RSA:

StockCode  UnitPrice
    22605      14.95
    22423      12.75
    85066      12.75
    22526      12.75
    21340      12.75